body{
    background-color: #F8F8F8;
}


#heading{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    margin: 10px auto;
    width: fit-content;
    background-color: #0047AB;
    border-radius: 8px;
    color: #ffffff;
    border: 10px solid black;
}

#interaction{
    display: block;
    text-align: center;
    margin: 100px auto;
    width: 320px;
    border: 4px solid black;
    border-radius: 20px;
    width: 400px;
    height: fit-content;
    background-color: #36454F;
    
}

#display{
    border: 4px solid black;
    background-color: #ffffff;
    display: block;
    width: 350px;
    min-height: 80px;
    margin: 30px auto;
    white-space: normal;
    overflow-wrap: break-word;
    text-align: right;
    box-sizing: border-box;
    font-size: 2em;
}

#row1{
    box-sizing: border-box;
}

#clear{
    width: 150px;
    padding: 12.5px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: #6E8C3D;
    font-size: 1em;
}

#del{
    width: 150px;
    padding: 12.5px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: #6E8C3D;
}
#row2{
    display: flex;
    box-sizing: border-box;
    margin: 20px auto;
    height: 60px;
    width: 300px;
    justify-content: space-between;
}

#row3{
    display: flex;
    box-sizing: border-box;
    margin: 20px auto;
    height: 60px;
    width: 300px;
    justify-content: space-between;
}
#row4{
    display: flex;
    box-sizing: border-box;
    margin: 20px auto;
    height: 60px;
    width: 300px;
    justify-content: space-between;
}
#row5{
    display: flex;
    box-sizing: border-box;
    margin: 20px auto;
    height: 60px;
    width: 300px;
    justify-content: space-between;
}

#seven{
    height: 60px;
    width: 60px;
    border-radius: 60px;
    border: 2px solid black;
    background-color: #6E8C3D;
    font-size: 1em;
}
#eight{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    border: 2px solid black;
    background-color: #6E8C3D;
    font-size: 1em;
}
#nine{
    height: 60px;
    width: 60px;
    border-radius: 60px;
    border: 2px solid black;
    background-color: #6E8C3D;
    font-size: 1em;
}
#divison{
    height: 60px;
    width: 60px;
    border-radius: 60px;
    border: 2px solid black;
    background-color: #6E8C3D;
    font-size: 1em;
}

#four{
    height: 60px;
    width: 60px;
    border-radius: 60px;
    border: 2px solid black;
    background-color: #6E8C3D;
    font-size: 1em;
}
#five{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    border: 2px solid black;
    background-color: #6E8C3D;
    font-size: 1em;
}
#six{
    height: 60px;
    width: 60px;
    border-radius: 60px;
    border: 2px solid black;
    background-color: #6E8C3D;
    font-size: 1em;
}
#mul{
    height: 60px;
    width: 60px;
    border-radius: 60px;
    border: 2px solid black;
    background-color: #6E8C3D;
    font-size: 1em;
}

#one{
    height: 60px;
    width: 60px;
    border-radius: 60px;
    border: 2px solid black;
    background-color: #6E8C3D;
    font-size: 1em;
}
#two{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    border: 2px solid black;
    background-color: #6E8C3D;
    font-size: 1em;
}
#three{
    height: 60px;
    width: 60px;
    border-radius: 60px;
    border: 2px solid black;
    background-color: #6E8C3D;
    font-size: 1em;
}
#plus{
    height: 60px;
    width: 60px;
    border-radius: 60px;
    border: 2px solid black;
    background-color: #6E8C3D;
    font-size: 1em;
}

#zero{
    height: 60px;
    width: 60px;
    border-radius: 60px;
    border: 2px solid black;
    background-color: #6E8C3D;
    font-size: 1em;
}
#deci{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    border: 2px solid black;
    background-color: #6E8C3D;
    font-size: 1em;
}
#minus{
    height: 60px;
    width: 60px;
    border-radius: 60px;
    border: 2px solid black;
    background-color: #6E8C3D;
    font-size: 1em;
}
#equal{
    height: 60px;
    width: 60px;
    border-radius: 60px;
    border: 2px solid black;
    background-color: #6E8C3D;
    font-size: 1em;
}

