#display{
    border: 1px solid black;
    display: flex;
    width: 100px;
    height: 20px;
    box-sizing: border-box;
}

#row1{
    box-sizing: border-box;
}
#row2{
    box-sizing: border-box;
}
#row3{
    box-sizing: border-box;
}
#row4{
    box-sizing: border-box;
}
#row5{
    box-sizing: border-box;
}

